<div class="container">
    <h2 class="my-4">Gestion des Matières</h2>
  
    <!-- Tableau pour afficher la liste des matières -->
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Code Matière</th>
          <th scope="col">Libellé</th>
          <th scope="col">Coefficient</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Utilisez *ngFor pour parcourir la liste des matières -->
        <tr *ngFor="let row of all_matiere">
            <td *ngFor="let item of row">{{item}}</td>
          <td>
            <!-- Ajoutez des boutons stylisés pour les actions (éditer, supprimer, etc.) -->
            <button class="btn btn-warning btn-sm me-5">Éditer</button>
            <button class="btn btn-danger btn-sm">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Formulaire pour ajouter ou éditer une matière -->
    <div class="my-4">
      <h4>Ajouter/Éditer Matière</h4>
      <form>
        <div class="form-group">
          <label for="codeMatiere">Code Matière</label>
          <input type="text" class="form-control" id="codeMatiere" required>
        </div>
        <div class="form-group">
          <label for="libelleMatiere">Libellé</label>
          <input type="text" class="form-control" id="libelleMatiere" required>
        </div>
        <div class="form-group">
          <label for="coefficientMatiere">Coefficient</label>
          <input type="number" class="form-control" id="coefficientMatiere" required>
        </div>
        <button style="margin-top: 15px;"  type="submit" class="btn btn-success" onsubmit="">Enregistrer</button>
      </form>
    </div>
  </div>